.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.channels-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.gear-icon {
  cursor: pointer;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
    padding-left: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

/* Style for the selected channel */
/* .selected {
  font-weight: bold; 
  border-left: 4px solid #007bff; 
  padding-left: 8px; 
} */

.unread-indicator {
  background-color: green;
  color: white;
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-left: 0.5rem;
}

.selected {
  border-left: 4px solid blue;
  /* background-color: #f0f0f0; */
  font-weight: bold;
} 

.unread {
    border-left: 4px solid blue;
    /* background-color: #f0f0f0; */
    font-weight: bold;
  } 